{% extends "base.html" %}
{% load static %}
{% block datepicker %}
<!--datatables-->
<script src ="{% static "tables/jquery.min.js" %}"></script>
<style> 
  /* coloca um cor no numero de sessões da gua*/    
  .badge.badge-danger {
    background-color: #f44336;
  }
  .badge.badge-warning {
    background-color: orange;
  }
</style>
{% endblock datepicker %}
{% block container %}
<div class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary" data-background-color="purple">
            <h4 class="card-title">Detalhes do Ítem 
              <div class="ripple-container"></div>
            </h4>
          </div>
          <div class="card-content">
            <div class="material-datatables">
                <table class="table table-user-information">
    <tbody>
      <tr>
        <th class="text-right">Produto</th>
        <td>{{object}}</td>
      </tr>
      <tr>
        <th class="text-right">Validade</th>
        <td>{{ object.validade|date:"d/m/Y" }}</td>
      </tr>
      <tr>
        <th class="text-right">Estoque</th>
        <td>{{ object.estoque }}</td>
      </tr>
      <tr>
        <th class="text-right">Estoque mínimo</th>
        <td>{{ object.estoque_minimo }}</td>
      </tr>
    </tbody>
  </table>
          </div>
                      <a href="{% url 'produto_list' %}" class="btn btn-danger btn-group">Voltar</a>
                    <div class="clearfix"></div>

        </div><!-- end content-->
      </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div>
</div>
{% endblock container %}