{% extends "base.html" %}
{% load static %}
{% block add_modal %}
<script src="{% static "js/core/jquery.min.js" %}"></script>
<script src="{% static "js/plugins/jquery.mask.min.js" %}"></script>
<!--boostrap datepicker-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet"type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock add_modal %}
</head>
{% block container %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-primary"data-background-color="purple">
						<h4 class="card-title ">Agenda de Atendimento</h4>
					</div>
					<div class="card-content">
						<form method="post">
							{% csrf_token %}
							<br><br>
							<div class="row">
								<div class="col-md-12">	
									<label>Status</label></br>							
									{{form.status}}	
								</div>
							</div>
							<div class="row" id="ocultar_fields">
								<div class="col-md-2">	
									<label>Hora</label></br>							
									{{form.hora}}	
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label>* Data</label></br>	
										{{form.data}}
									</div>
								</div>
								<div class="col-md-5">
									<label>* Paciente</label></br>	
									{{form.paciente}}
									<span class="text-danger">{{form.paciente.errors}}</span>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label>* Contato</label></br>	
										{{form.telefone}}
										<span class="text-danger">{{form.telefone.errors}}</span>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label>* Especialidade</label></br>	
										{{form.especialidade}}
										<span class="text-danger">{{form.especialidade.errors}}</span>
									</div>
								</div>
								<div class="col-md-3">
									<label>* Profissional</label></br>	
									{{form.profissional}}
									<span class="text-danger">{{form.profissional.errors}}</span>
								</div>	
							</div>	
							<div class="row">	
							        <hr/>
        <h3 class="ficha">FICHA DO PACIENTE | Informe neste campo as evoluções do paciente! Ex: Tratamento realizado, data do atendimento e Profissional</h3>
        <hr/>					
								<div class="col-md-12">
										<div class="form-group">
											<label class="bmd-label-floating"></label>
											{{form.observacao}}
										</div>
								</div>
							</div>
<button type="submit" id="salvar" class="btn btn-primary btn-sm pull-right"> Enviar</button>
<a href="{% url 'agendas' %}" class="btn btn-danger btn-sm btn-group" onclick="return confirm('Deseja realmente cancelar?');">Cancelar</a>
<div class="clearfix"></div>
</form>
</div><!-- end content-->
</div><!--  end card  -->
</div> <!-- end col-md-12 -->
</div> <!-- end row -->
</div>
</div>

<script>
jQuery( document ).ready(function( $ ) {
	$('#id_hora').daterangepicker({
		singleDatePicker: true,
		timePicker: true,
		timePicker24Hour: true,
		timePickerIncrement: 05,
		timePickerSeconds: false,
		minDate: ' 08:00:00',
		maxDate: ' 20:00:00',
		locale: {
			format: 'HH:mm'
		}
	}).on('show.daterangepicker', function (ev, picker) {
		picker.container.find(".calendar-table").hide();
	});
	$('#id_data').daterangepicker({
		singleDatePicker: true,
		showDropdowns: true,
		"locale": {
			"format": "DD/MM/YYYY",
			"separator": " - ",
			"applyLabel": "Aplicar",
			"cancelLabel": "Cancelar",
			"fromLabel": "De",
			"toLabel": "Até",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
			"Dom",
			"Seg",
			"Ter",
			"Qua",
			"Qui",
			"Sex",
			"Sáb"
			],
			"monthNames": [
			"Janeiro",
			"Fevereiro",
			"Março",
			"Abril",
			"Maio",
			"Junho",
			"Julho",
			"Agosto",
			"Setembro",
			"Outubro",
			"Novembro",
			"Dezembro"
			],
			"firstDay": 0
		}})});
jQuery(function($){
// Remove o  status atender e atendido 
$('#id_telefone').mask('(00) 00000-0000');
$("#id_paciente").change(function() {
//seta o contato automaticamente conforme paciente
var pacienteContato = $(this).find('option:selected').text();
$('#id_telefone').val(pacienteContato.split('...')[1]);
});    		
});
</script>
<script type="text/javascript">
	$(document).ready(function()
  {
   
     $("#ocultar_fields").hide();
 

  });
</script>
<script type="text/javascript">
		$(document).ready(function(){
			//bloquea campos do form par não atualizar
			$("#id_hora").prop( "disabled", true );  
			$("#id_status").prop( "disabled", false );  
			$("#id_data").prop( "disabled", true );  
			$("#id_paciente").prop( "disabled", true );  
			$("#id_telefone").prop( "disabled", true );   
			$("#id_profissional").prop("disabled", true);  
			$("#id_especialidade").prop("disabled", true);  
			$("#id_observacao").prop( "disabled", false );  
 
		});
		$("#salvar").click(function(){
  			$("#id_hora").prop( "disabled", false );  
			$("#id_status").prop( "disabled", false );  
			$("#id_data").prop( "disabled", false );  
			$("#id_paciente").prop( "disabled", false );  
			$("#id_telefone").prop( "disabled", false );   
			$("#id_profissional").prop("disabled", false);  
			$("#id_especialidade").prop("disabled", false);  
			$("#id_observacao").prop( "disabled", false );   
		});
		</script>
{% endblock container %}