{% extends "base.html" %}
{% load static %}
{% block datepicker %}
<script src ="{% static "tables/jquery.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />

<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
{% endblock datepicker %}
{% block container %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary" data-background-color="purple">
            <h4 class="card-title">Agendamento do dia<a
                class="btn btn-success pull-right btn-round btn-fab btn-fab-mini" href="{% url 'add_agenda' %}">
                <i class="material-icons">person_add</i>
                <div class="ripple-container"></div>
              </a></h4>
          </div>
            <div class="card-content">
             <div class="col-md-12">
                            <form method="GET"name="search">
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                      <input name="date_ranger"class="form-control"required>
                    </div>
                  </div>
                  {% if not profissional %}
                  <!--se quem estiver logado não for profissional ele mostra o select -->
                  <div class="col-md-4 col-sm-3">
                    <select class="selectpicker" name="profissional"data-style="select-with-transition" title="Profissional" data-size="7"data-live-search="true">
                      <option value="">Selecione o Profissional</option>
                      {% for p in pf %}
                      <option value="{{p.nome}}">{{p.nome}} {{p.sobrenome}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% endif %}
                  <div class="col-md-4">
                   <input type="text"class="form-control" name="paciente" placeholder="Nome do Paciente"value="{{request.GET.paciente}}">
                 </div>
                 <div class="col-md-1 col-sm-1">
                   <button type="submit" class="btn btn-primary pull-right btn-round"><i class="material-icons">search</i></button>
                 </div>
               </div>
             </form>
           </div>
           <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead class="text-primary">
                <th>Status</th>
                <th>Paciente</th>
                <th>Data</th>
                <th>Profissional</th>
                <th>Horário</th>
                <th>Ações</th>
              </thead>
              <tbody>
                {% for agenda  in agendamentos %}
                <tr>
                <td>
                  <!--arquivo com os devidos status da agenda-->
                  {% if agenda.status == 'AG' %} <span class="badge badge-green">Agendado</span>{% endif%} 
                  {% if agenda.status == 'AT' %} <span class="badge badge-blue">Atendido</span>{% endif%} 
                  {% if agenda.status == 'FN' %} <span class="badge badge-tomato">Falta não Justificada</span>{% endif%} 
                  {% if agenda.status == 'DM' %} <span class="badge badge-orange">Desmarcado</span>{% endif%}  
                </td>
                <td><b>{{agenda.paciente|title}}</b></td>
                <td>{{agenda.data|date:"d/m/Y"}}</td>
                <td>{{agenda.profissional|title}}</td>
                <td>{{agenda.hora}}H</td>
                <td width="15%"> 
                      <a href="{% url 'update_agenda' agenda.id %}" title="Editar"><i class="material-icons text-info">update</i></a>
                        <a href="{% url 'deletar_agenda' agenda.id %}" title="deletar atendimento" onclick="return confirm('Deseja realmente deletar o agendamento?');"><i class="material-icons  text-danger">delete</i></a>
                        <a href="{% url 'agenda_status' agenda.id %}" title="Finalizar" ><i class="material-icons  text-success">touch_app</i></a>
                    
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div><!-- end content-->
      </div><!--  end card  -->
    </div> <!-- end col-md-12 -->
  </div> <!-- end row -->
</div>
</div>
<script type="text/javascript">

$('input[name="date_ranger"]').daterangepicker({
  "timePicker": false,
  "startDate": moment(),
  "endDate": moment(),
  "ranges": {
    'Hoje': [moment(), moment()],
    'Ontem': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
    'Ultimos 7 Dias': [moment().subtract(6, 'days'), moment()],
    'Ultimos 30 Dias': [moment().subtract(29, 'days'), moment()],
    'Esse Mês': [moment().startOf('month'), moment().endOf('month')],
    'Último Mês': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
  },
  showDropdowns: true,
  "locale": {
    "format": "DD/MM/YYYY",
    "separator": " / ",
    "applyLabel": "Aplicar",
    "cancelLabel": "Cancelar",
    "fromLabel": "De",
    "toLabel": "Até",
    "customRangeLabel": "Customizado",
    "daysOfWeek": [
    "Dom",
    "Seg",
    "Ter",
    "Qua",
    "Qui",
    "Sex",
    "Sáb"
    ],
    "monthNames": [
    "Janeiro",
    "Fevereiro",
    "Março",
    "Abril",
    "Maio",
    "Junho",
    "Julho",
    "Agosto",
    "Setembro",
    "Outubro",
    "Novembro",
    "Dezembro"
    ],
    "firstDay": 0
  }
}, function(start, end, label) {
  console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");

});
$(document).ready(function() {
  $('#datatables').DataTable({
    "pagingType": "full_numbers",
    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
    responsive: true,
    searching: false, 
    "language": {
      "sProcessing":   "Processando...",
      "sLengthMenu":   " _MENU_ ",
      "sZeroRecords":  "<b><center>Não foram encontrados resultados</center><b>",
      "info": "Pág _PAGE_ de _PAGES_",
      "sInfoEmpty":    "",
      "sInfoFiltered": "",
      "sInfoPostFix":  "",
      "sSearch":       "",
      "sUrl":          "",
      "oPaginate": {
        "sFirst":    "Primeiro",
        "sPrevious": "",
        "sNext":     "",
        "sLast":     "Último"
      }
    }
  });


  var table = $('#datatables').DataTable();

    // Edit record
    table.on( 'click', '.edit', function () {
      $tr = $(this).closest('tr');

      var data = table.row($tr).data();
      alert( 'You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.' );
    } );

    // Delete a record
    table.on( 'click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    } );

    //Like record
    table.on( 'click', '.like', function () {
      alert('You clicked on Like button');
    });

    $('.card .material-datatables label').addClass('form-group');
  });

</script>
{% endblock container %}