{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Somos um serviço de odontologia.">
    <meta name="keywords" content="Odontologia,Parnaiba, Especialidades">
    <title>Adicionar Agendamento</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">

    <!-- Favicons -->
<link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
<script src ="{% static "tables/jquery.min.js" %}"></script>
<script src="{% static "js/plugins/jquery.mask.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
<meta name="theme-color" content="#7952b3">


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="{% static "assets/css/material-dashboard.css" %}"/>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      #id_paciente {
        width: 100%;
    	}
      header{
      	background: linear-gradient(60deg, #ab47bc, #8e24aa);
      	padding: 16px;
      	text-align: left;
      	color: white;
      	border-radius: 3px;
      }
      .container-fluid{
      	background-color: white;
      	border-radius: 5px;
      }
      body{
      	text-transform: uppercase;
      }
    </style>

    
  </head>
  <body>
    
<main>
  	<div class="container">
  		<p></p>
  		<div class="container-fluid">
		    <header class="pb-3 mb-4 border-bottom">
		            <span class="fs-5">Adicionar agendamento</span>
		    </header>
			<form method="POST" id="agendaForm" action="{% url 'add_agenda' %}">
				{% csrf_token %}
		      	<div class="row g-3">
			        <div class="col-sm-2">
			          <label><span class="text-danger">*</span> Hora</label>
			          	{{form.hora}}
						<span class="text-danger">{{form.non_field_errors}}</span>
			        </div>
			        <div class="col-sm-2">
			          <label><span class="text-danger">*</span> Data</label>
			          {{form.data}}
			        </div>
			        <div id="ocultar_fields">							
						{{form.status}}	
						{{form.observacao}}
						{{form.procedimento}}
						{{form.odontograma}}
						{{form.vigilancia}}
					</div>
			        <div class="col-sm-6">
			          <label class="form-label"><span class="text-danger">*</span> Paciente | CPF | CNS</label>
			          {{form.paciente}}
			          <span class="text-danger">{{form.paciente.errors}}</span>
			        </div>

			        <div class="col-sm-2">
			          <label><span class="text-danger">*</span> Telefone</label>
			          {{form.telefone}}
			          <span class="text-danger">{{form.telefone.errors}}</span>
			        </div>
			        <div class="row g-3">
			            <div class="col-sm-5">
							<label class="form-label"><span class="text-danger">*</span> Profissional</label>	
							{{form.profissional}}
							<span class="text-danger">{{form.profissional.errors}}</span>
						</div>
						<div class="col-sm-3">
							<label class="form-label"><span class="text-danger">*</span> Especialidade</label>	
							{{form.especialidade}}
							<span class="text-danger">{{form.especialidade.errors}}</span>
						</div>
						<div class="col-sm-4">
							<label class="form-label"><span class="text-danger">*</span> Unidade Básica de Saúde</label>	
							{{form.ubs}}
							<span class="text-danger">{{form.ubs.errors}}</span>
						</div>
					</div>
					<div class="col-sm-6">
						<label class="form-check-label"><span class="text-danger">*</span> Tipo de Consulta)</label>	
						{{form.tipoconsulta}}
						<span class="text-danger">{{form.tipoconsulta.errors}}</span>
					</div>
				</div>
		      	<hr class="my-4">
		      	<button type="submit" class="btn btn-success" id="submitButton">SALVAR AGENDAMENTO</button>
		      	<button class="btn btn-danger" id="alert" type="button">Cancelar Agendamento</button>
						<div class="clearfix"></div>
		    </form>
	</div>
	</div>
</main>


  </body>
  <script type="text/javascript">
document.querySelector("#id_vigilancia_6").checked = true;
</script>
<script type="text/javascript">
var text = 'Avaliação';
var select = document.querySelector('#id_procedimento');
for (var i = 0; i < select.options.length; i++) {
    if (select.options[i].text === text) {
        select.selectedIndex = i;
        break;
    }
}
</script>
<script type="text/javascript">
var text = 'Avaliação';
var select = document.querySelector('#id_odontograma');
for (var i = 0; i < select.options.length; i++) {
    if (select.options[i].text === text) {
        select.selectedIndex = i;
        break;
    }
}
</script>
<script type="text/javascript">
	$(document).ready(function()
  {
   
     $("#ocultar_fields").hide();
     $("#id_tipoconsulta_0").hide();
 

  });
</script>
<script>
$.noConflict();
jQuery( document ).ready(function( $ ) {
	$('#id_hora').daterangepicker({
		singleDatePicker: true,
		timePicker: true,
		timePicker24Hour: true,
		timePickerIncrement: 05,
		timePickerSeconds: false,
		minDate: ' 07:00:00',
		maxDate: ' 17:00:00',
		locale: {
			format: 'HH:mm'
		}
	}).on('show.daterangepicker', function (ev, picker) {
		picker.container.find(".calendar-table").hide();
	});
	$('#id_data').daterangepicker({
		singleDatePicker: true,
		showDropdowns: true,
		"locale": {
			"format": "DD/MM/YYYY",
			"separator": " - ",
			"applyLabel": "Aplicar",
			"cancelLabel": "Cancelar",
			"fromLabel": "De",
			"toLabel": "Até",
			"customRangeLabel": "Custom",
			"daysOfWeek": [
			"Dom",
			"Seg",
			"Ter",
			"Qua",
			"Qui",
			"Sex",
			"Sáb"
			],
			"monthNames": [
			"Janeiro",
			"Fevereiro",
			"Março",
			"Abril",
			"Maio",
			"Junho",
			"Julho",
			"Agosto",
			"Setembro",
			"Outubro",
			"Novembro",
			"Dezembro"
			],
			"firstDay": 0
		}})});
jQuery(function($){
// Remove o  status atender e atendido 
$('#id_telefone').mask('(00) 00000-0000');
$("#id_paciente").change(function() {
//seta o contato automaticamente conforme paciente
var pacienteContato = $(this).find('option:selected').text();
$('#id_telefone').val(pacienteContato.split('--')[1]);
});
$("#id_profissional").change(function() {
//seta o contato automaticamente conforme paciente
var profissionalEspecialidade = $(this).find('option:selected').text();
$('#id_especialidade').val(profissionalEspecialidade.split('--')[1]);
});    		
});
</script>
<script type="text/javascript">
	$(document).ready(function() {
      $('#submitButton').on('click',function(){
        $('#agendaForm').validate({
          rules: {
            hora: { required: true, },
            data: { required: true,},
            paciente : { required: true,},
            telefone: { required: true,},
            profissional: { required: true,},
            especialidade: { required: true,},
            ubs : { required: true,},
            tipoconsulta : { required: true,},
          },
          messages: {
            hora: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            data: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            paciente: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            telefone: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            profissional: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            especialidade: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            ubs: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            tipoconsulta: { required: '<span class="text-danger">Prencha esse Campo</span>' },
          },
        });
      });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
    $('#id_especialidade').select2();
    $('#id_profissional').select2();
    $('#id_ubs').select2();
});
</script>
<script>
    $(document).ready(function () {
        $('#id_paciente').select2({
            ajax: {
                url: '{% url 'add_agenda' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.nome + ' | ' + item.cpf + ' | ' + item.sus};
                        })
                    };
                }
            },
            minimumInputLength: 2
        });
    });
</script>
<script type="text/javascript">
    $("#alert").click(function() {
  swal({
    title: "Atenção!",
    text: "As alterações realizadas serão perdidas.",
    icon: "warning",
    buttons: true,
    confirmButtonColor: '#d33',
  	cancelButtonColor: '#3085d6',
  }).then(function(result) {
    if (result) {
      window.location.href="{% url 'agendas' %}"
    } else {
      return;
    }
  });
});
</script>
</html>

