{% extends "base.html" %}
{% load static %}
{% block navbar %}
  <a class="navbar-brand" href="#"></a>
{% endblock navbar %}
{% block container %}
 
  <div class="content">
    <div class="container-fluid">
      <div class="row">
      {% if request.user.is_superuser %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span>VER LISTA COMPLETA</span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">people</i>
          </div>
          <div class="card-content">
            <p class="category">Pacientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span>VER LISTA COMPLETA</span> </a>
          </div>
        </div>
      </div>
     
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="red">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Lista de Espera</p>
          <h3 class="card-title">{{view.list_espera}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'lista_espera' %}"><span>VER LISTA COMPLETA</span> </a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda do dia</p>
         <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendas' %}"><span>VER LISTA COMPLETA</span> </a>
        </div>
      </div>
    </div>
    {% elif not atendente %}
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="orange">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span>VER LISTA COMPLETA</span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">people</i>
          </div>
          <div class="card-content">
            <p class="category">Pacientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span>VER LISTA COMPLETA</span> </a>
          </div>
        </div>
      </div>    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda do dia</p>
         <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendas' %}"><span>VER LISTA COMPLETA</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="purple">
          <i class="material-icons">contact_phone</i>
        </div>
        <div class="card-content">
          <p class="category">Lista de Espera</p>
         <h3 class="card-title">{{view.list_espera}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'lista_espera' %}"><span>VER LISTA COMPLETA</span> </a>
        </div>
      </div>
    </div>
    {%endif%}
    </div>
    </div>
  
  <footer class="footer">
  <div class="container-fluid">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block"> &copy; <script>document.write(new Date().getFullYear())</script> - PMP, Desenvolvido por <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K8452958T7" target="_blank">Ismael Sousa </a> - Todos os Direitos reservados.</span>
  </div>
</footer>
</div>
{% endblock container %}