{% extends "base.html" %}
{% load static %}
{% block navbar %}
  <a class="navbar-brand" href="#"></a>
{% endblock navbar %}
{% block container %}
 
  <div class="content">
    <div class="container-fluid">
      <div class="row">
      {% if request.user.is_superuser %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span>Ver mais ...</span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">groups</i>
          </div>
          <div class="card-content">
            <p class="category">Pacientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span>Ver mais ...</span> </a>
          </div>
        </div>
      </div>
     
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Lista de Espera</p>
          <h3 class="card-title">{{view.list_espera}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'lista_espera' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda do dia</p>
         <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendas' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>     
      <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="purple">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Agendamentos não finalizados</p>
         <h3 class="card-title">{{view.agenda_cont}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agenda_open' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">medical_services</i>
        </div>
        <div class="card-content">
          <p class="category">Contador de Atendimentos</p>
         <h3 class="card-title">{{view.atendimentos_cont}}</h3>
        </div>
        <div class="card-footer">
           <a href=""><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Relatórios Consolidados e por Profissional</p>
        </div>
        <div class="card-footer">
           <a href="{% url 'relatorios' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    </div>
    {% elif not atendente %}
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="blue">
            <i class="material-icons">cake</i>
          </div>
          <div class="card-content">
            <p class="category">Aniversários</p>
            <h3 class="card-title">{{view.birthday}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'aniversario' %}"><span>Ver mais ...</span> </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header" data-background-color="green">
            <i class="material-icons">groups</i>
          </div>
          <div class="card-content">
            <p class="category">Pacientes</p>
            <h3 class="card-title">{{view.clientes}}</h3>
          </div>
          <div class="card-footer">
             <a href="{% url 'lista_pacientes' %}"><span>Ver mais ...</span> </a>
          </div>
        </div>
      </div>    
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">calendar_today</i>
        </div>
        <div class="card-content">
          <p class="category">Agenda do dia</p>
         <h3 class="card-title">{{view.agendamentos}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agendas' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="orange">
          <i class="material-icons">contact_phone</i>
        </div>
        <div class="card-content">
          <p class="category">Lista de Espera</p>
         <h3 class="card-title">{{view.list_espera}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'lista_espera' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
         <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="purple">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Agendamentos não finalizados</p>
         <h3 class="card-title">{{view.agenda_cont}}</h3>
        </div>
        <div class="card-footer">
           <a href="{% url 'agenda_open' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">medical_services</i>
        </div>
        <div class="card-content">
          <p class="category">Contador de Atendimentos</p>
         <h3 class="card-title">{{view.atendimentos_cont}}</h3>
        </div>
        <div class="card-footer">
           <a href=""><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header" data-background-color="blue">
          <i class="material-icons">chrome_reader_mode</i>
        </div>
        <div class="card-content">
          <p class="category">Relatórios Consolidados e por Profissional</p>
        </div>
        <div class="card-footer">
           <a href="{% url 'relatorios' %}"><span>Ver mais ...</span> </a>
        </div>
      </div>
    </div>
    </div>
    {%endif%}
    </div>
    </div>
  
  <footer class="footer">
  <div class="container-fluid">
      <span class="text-muted d-block d-sm-inline-block"> &copy; <script>document.write(new Date().getFullYear())</script> - Todos os Direitos reservados | V.1.8</span>
  </div>
</footer>
</div>
{% endblock container %}