{% extends "base.html" %}
{% load static %}
{% block datepicker %}
<script src ="{% static "tables/jquery.min.js" %}"></script>
<script src="{% static "js/plugins/jquery.mask.min.js" %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock datepicker %}
{% block container %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary"data-background-color="purple">
            <h4 class="card-title ">Adicionar Lista de Espera</h4>
          </div>
          <div class="card-content">
            <form method="POST"id="EsperaForm">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  
                    <label class="bmd-label-floating">*Nome Completo</label>
                    {{form.nome}}
                    {{form.nome.errors}} 
                    <span class="text-danger"> {{form.non_field_errors}}</span>
                  
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>* Contato</label></br> 
                    {{form.telefone}}
                    <span class="text-danger">{{form.telefone.errors}}</span>
                  </div>
                </div>
                <div class="col-md-3">
               
                    <label class="bmd-label-floating">Especialidade</label>
                    {{form.especialidade}}                 
                {{form.especialidade.errors}} 
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 data-background-color">
                  <div class="form-group">
                    <label class="bmd-label-floating">* Tipo de atendimento</label>
                    {{form.urgente}}
                    {{form.urgente.errors}} 
                  </div>
                </div>
                <div class="col-md-4 data-background-color">
                  <div class="form-group">
                    <label class="bmd-label-floating">* Data do Cadastro</label>
                    {{form.criado_em}}
                    {{form.criado_em.errors}} 
                  </div>
                </div>
                <div class="col-md-4 data-background-color">
                  <div class="form-group">
                    <label class="bmd-label-floating">* Ligação</label>
                    {{form.ligacao}}
                    {{form.ligacao.errors}} 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating"> Outras informações importantes sobre o paciente!</label>
                    {{form.observacao}}
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right" id="submitButton">Salvar</button>
              <a href="{% url 'lista_espera' %}" class="btn btn-danger btn-group" onclick="return confirm('Deseja realmente cancelar?');">Cancelar</a>
              <div class="clearfix"></div>
            </form>
          </div><!-- end content-->
        </div><!--  end card  -->
      </div> <!-- end col-md-12 -->
    </div> <!-- end row -->
  </div>
</div>

<script>
  jQuery(function($){
    $('#id_sus').mask('000.0000.0000.0000');
    $('#id_telefone').mask('(00) 00000-0000');
    $('#id_telefone_fixo').mask('(00) 00000-0000');
    $('#id_cpf').mask('000.000.000-00', {reverse: true});
  });
  $('#id_data_nascimento').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    "locale": {
      "format": "DD/MM/YYYY",
      "separator": " - ",
      "applyLabel": "Aplicar",
      "cancelLabel": "Cancelar",
      "fromLabel": "De",
      "toLabel": "Até",
      "customRangeLabel": "Custom",
      "daysOfWeek": [
      "Dom",
      "Seg",
      "Ter",
      "Qua",
      "Qui",
      "Sex",
      "Sáb"
      ],
      "monthNames": [
      "Janeiro",
      "Fevereiro",
      "Março",
      "Abril",
      "Maio",
      "Junho",
      "Julho",
      "Agosto",
      "Setembro",
      "Outubro",
      "Novembro",
      "Dezembro"
      ],
      "firstDay": 0
    }});
    $('#id_criado_em').daterangepicker({
    singleDatePicker: true,
    showDropdowns: true,
    "locale": {
      "format": "DD/MM/YYYY",
      "separator": " - ",
      "applyLabel": "Aplicar",
      "cancelLabel": "Cancelar",
      "fromLabel": "De",
      "toLabel": "Até",
      "customRangeLabel": "Custom",
      "daysOfWeek": [
      "Dom",
      "Seg",
      "Ter",
      "Qua",
      "Qui",
      "Sex",
      "Sáb"
      ],
      "monthNames": [
      "Janeiro",
      "Fevereiro",
      "Março",
      "Abril",
      "Maio",
      "Junho",
      "Julho",
      "Agosto",
      "Setembro",
      "Outubro",
      "Novembro",
      "Dezembro"
      ],
      "firstDay": 0
    }});
  </script>
  <script>  
    $(document).ready(function() {
      $('#submitButton').on('click',function(){
        $('#EsperaForm').validate({
          rules: {
            nome: { required: true, },
            profissional: { required: true,},
            especialidade: { required: true,},
            urgente: { required: true,},
            criado_em: { required: true,},
            telefone: { required: true,},
          },
          messages: {
            nome: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            especialidade: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            profissional: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            urgente: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            criado_em: { required: '<span class="text-danger">Prencha esse Campo</span>' },
            telefone: { required: '<span class="text-danger">Prencha esse Campo</span>' },
          },
        });
      });
    });
jQuery(function($){
// Remove o  status atender e atendido 
$('#id_telefone').mask('(00) 00000-0000');
$("#id_nome").change(function() {
//seta o contato automaticamente conforme paciente
var pacienteContato = $(this).find('option:selected').text();
$('#id_telefone').val(pacienteContato.split('--')[1]);
});       
});
  </script>
  {% endblock container %}